@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/*Header*/
.nav {
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  align-items: center; 
   padding: 2rem 5%;
}
.nav__container{
  margin: 0 0 0 0;
}
 .nav__title {
   width: fit-content;
   text-align: center;
   color: white;
   background-color: #353535;
   font-size: 40px;
   font-weight: 500;
   transition: all 0.3s ease 0s;
}
.nav__title:hover {
  color: #0088a9;
}
.nav__element {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 20px;
   color: white;
   text-decoration: none;
   transition: all 0.3s ease 0s;
  margin: 5px 16px;
}
 .nav__button{
   background-color: #d3d5d4;
}
.nav__element:hover {
  color: #0088a9;
}
.nav__contact {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer ;
  transition: all 0.3s ease 0s;
  margin: 0 0 0 10rem ;
}
.nav__contact:hover {
  background-color: rgba(0, 136, 169, 0.5);
}
  .nav__contact__buttom {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
/* header fin */

/* footer */
footer {
  background-color: #353535;
  height: auto;
  font-family: "Montserrat";
  color: white;
  padding-top: 40px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer_content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
}
.socials {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;;
}
.socials li {
  margin: 0 10px;
}
.socials a i {
  font-size: 1.1rem;
}
.socials a:hover i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
  color: #0088a9;
}
/* footer fin*/
/*main*/
main {
  background-color: #d3d5d4;
}
/*main inicio*/
.hero {
  background-image: url(../img/1242400-hugh-laurie-dr-house-selective-color-eyes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.hero__txt {
  font-size: 250%;
  margin: 150px 10%;
  padding: 1%;
  color: white;
  text-align: center;
  font-weight: 500;
  background-color: #00000080;
  -webkit-animation: hero__txt 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: hero__txt 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.section {
  display: flex;
  background-image: url(../img/teahub.io-erkek-wallpaper-1902330.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  padding-top: 1rem;
  width: 100%;
  height: 100vh;
}
.cont__txt {
  background-color:#00000080;
}
.section__txt {
  font-family: "Montserrat";
  color: white;
  text-align:justify;
  font-size: 1.7rem;
  width: 1000px;
  margin: 0;
}
/*main fin*/

/*Bio*/
.biografia {
  padding: 8vh 0 8vh 0;
}
.cont__bio {
  font-size: 14px;
  border-style: ridge;
  border-color:#353535;
}
/* main bio fin*/
/* main Movies & films*/
.ps__main {
  margin: 5vh 10%;
}
.ps__img {
  height: 80vh;
}
.ps__title {
  padding:  0 5vh;
}
.ps__txt {
  padding: 1vh 5vh;
}
/*main movies & films fin*/
/*main music & videos*/
.hero__mv {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.container__mv {
  font-family: "Montserrat", sans-serif;
}
.img__mv {
  padding: 1rem 0 1rem 1rem;
}
.title__mv {
  padding: 1rem 0 0 0;
  font-size: 2.5rem;
  text-align: center;
}
.txt__mv {
  padding: 0.5rem 3rem 1rem 1rem;
  font-size: 1.2rem;
}
.video__mv {
  padding: 4rem 2rem 1rem 1rem;
}
.table__mv {
  text-align: center;
  border-style: solid;
}
.table__elements__mv {
  color: black;
}
.table__title__mv {
  padding: 0 0 0 0;
  font-size: 1.3rem;
  text-align: center;
  border-style: solid;
}
/*main music & videos fin*/

/*main contact*/
.register__contact {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.register__contact h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls__mv {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #0088a9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.register__contact p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
/* Media Queries (Estilos Mobile*/
@media screen and (max-width: 768px) {
  /* Header*/
  .nav__contact {
    margin: 0;
  }
  /*Index*/
  .hero {
    width: 100%;
    height: 75vh;
  }
  .hero__txt {
    font-size: 110%;
    margin: 70px 10%;
  }
  .section {
    height: 70vh;
    width: 100%;
  }
  .section__txt {
    padding: 0 5%;
    width: 100%;
    font-size: 0.8rem;
  }
  /*Bio*/
  /*Peliculas&Series*/
  .ps__main {
    margin: 3vh 0;
  }
  .ps__img {
    height: 50vh;
  }
}

/*Animaciones*/
@-webkit-keyframes hero__txt {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes hero__txt {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}