/* footer */
footer {
  background-color: #f9f9f9;
  height: auto;
  color: #141414;
  padding-top: 1rem 0 0 0;
  }
.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer_bottom p {
  font-size: 14px;
  word-spacing: 2px;
  }
.socialMedia {
  color: #141414;
}
.socials {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;;
  & li {
    margin: 0 10px;
  }
  & a i {
    font-size: 1.1rem;
  }
  & a:hover i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  & a:hover i{
    color: #0088a9;
  }
}