/*Biografia*/
.biografia {
    padding: 8vh 0 8vh 0;
    background-color: #141414;
  }
  .cont__bio {
    font-size: 14px;
    border-style: ridge;
    border-color:#353535;
    background-color: #d3d5d4;
    border-radius: 1%;
  }